<div class="animated fadeIn " style="padding-top: 50px; padding-left: 150px;">
		<div class="padding-xm">
			<div class="row marginBottom-xm">
				<div class="col-xs-12">
					<div ui-sref="dashboard.machine({id: vm.company_id, group: vm.group_id})" class="display-inline-block button button-m button-primary fontSize-xxs"
					style="border-color: transparent !important;
							width: 100px;">
						<span style="opacity: .8;
							display: flex;
							justify-content: center;
							align-items: center;">
							<i class="ion-arrow-left-c fontSize-xm marginRight-s"></i> BACK
						</span>
					</div>
				</div>
			</div>
	
			<div class="row">
				<div class="col-xs-12">
					<div class="bg-white borderRadius-xs padding-xm">
						<div class="row marginBottom-s">
							<div class="col-xs-4">
								<div class="fontFamily-primary-bold fontSize-m display-inline-block textTransform-capitilze">
									{{ vm.group.name }}: {{vm.gearmotor.machineno.value}} {{vm.gearmotor.idno.value}}
								</div>
							</div>
							<div class="col-xs-4">
									<div class="input position-relative display-inline-block width-100" >
										<input ng-model="vm.search" type="text" placeholder="Search" class="textAlign-center" style="text-align: center; padding: 8px 5px;">
									</div>
								</div>
							<div class="col-xs-4 textAlign-right">
								<!-- <div ui-sref="dashboard.machineAdd({id: vm.company_id, group: vm.group_id })" class="button display-inline-block textTransform-uppercase" style="width: 150px; color:#2a65ff; border: 1px solid #2a65ff !important;">
									<i class="ion-plus-round"></i> Add Machine
								</div> -->
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<table class="width-100">
									<thead class="fontWeight-7 textAlign-left">
										<th ng-click="vm.setOrderBy('maintenance.name')" class="cursor-pointer textAlign-left padding-s">
											Maintenance history
											<i
											ng-show="vm.orderBy.indexOf('maintenance.name') >= 0"
											ng-class="{'ion-arrow-down-b': vm.orderBy === 'maintenance.name',
											'ion-arrow-up-b': vm.orderBy !== 'maintenance.name'}"
											class="c-grey fontSize-xxs"></i>
										</th>
										<th ng-click="vm.setOrderBy('maintenance.timestamp')" class="cursor-pointer textAlign-left padding-s">
											Uploaded on
											<i
											ng-show="vm.orderBy.indexOf('maintenance.timestamp') >= 0"
											ng-class="{'ion-arrow-down-b': vm.orderBy === 'maintenance.timestamp',
											'ion-arrow-up-b': vm.orderBy !== 'maintenance.timestamp'}"
											class="c-grey fontSize-xxs"></i>
										</th>
										<th ng-click="vm.setOrderBy('maintenance.maintainer')" class="cursor-pointer textAlign-left padding-s">
											Maintainer
											<i
													ng-show="vm.orderBy.indexOf('maintenance.maintainer') >= 0"
													ng-class="{'ion-arrow-down-b': vm.orderBy === 'maintenance.maintainer',
											'ion-arrow-up-b': vm.orderBy !== 'maintenance.maintainer'}"
													class="c-grey fontSize-xxs"></i>
										</th>
										<th ng-click="vm.setOrderBy('maintenance.cause')" class="cursor-pointer textAlign-left padding-s">
											Cause
											<i
													ng-show="vm.orderBy.indexOf('maintenance.cause') >= 0"
													ng-class="{'ion-arrow-down-b': vm.orderBy === 'maintenance.cause',
											'ion-arrow-up-b': vm.orderBy !== 'maintenance.cause'}"
													class="c-grey fontSize-xxs"></i>
										</th>
										<th ng-click="vm.setOrderBy('maintenance.date')" class="cursor-pointer textAlign-left padding-s">
											Date-Time
											<i
													ng-show="vm.orderBy.indexOf('maintenance.date') >= 0"
													ng-class="{'ion-arrow-down-b': vm.orderBy === 'maintenance.date',
											'ion-arrow-up-b': vm.orderBy !== 'maintenance.date'}"
													class="c-grey fontSize-xxs"></i>
										</th>
										<th class="textAlign-center padding-s">Action</th>
									</thead>
									<tbody>
										<tr ng-show="vm.maintenance" ng-repeat="(key, maintenance) in vm.maintenance | toArray:false | orderBy:vm.orderBy | filter:vm.search" class="bg-foreground--hover">
											<td class="textAlign-left padding-s">
												{{maintenance.name}}
											</td>
											<td class="textAlign-left padding-s">
												{{maintenance.timestamp}}
												</td>
											<td class="textAlign-left padding-s">
												{{maintenance.maintainer}}
											</td>
											<td class="textAlign-left padding-s">
												{{maintenance.cause}}
											</td>
											<td class="textAlign-left padding-s">
												{{maintenance.date}}
											</td>

											<td class="textAlign-center padding-s">
												<a ng-show="maintenance.url" target="_blank" href="{{maintenance.url}}" class="link link-primary">
													View
												</a><span ng-if="vm.user.profile.level == 'admin'" class=" link-black" >/</span>
												<span ng-if="vm.user.profile.level == 'admin'" ng-show="maintenance.url"  class="link link-danger" ng-click="vm.deleteGearDetail('maintenance', maintenance)">
									[Delete]
								</span>
												<span ng-show="!maintenance.url" class="c-grey">
													View
												</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>