input[type='checkbox'],
input[type='radio'] {
  & { @extend .display-none; }

  & + label {
    @extend .verticleAlign-middle;
    @extend .position-relative;
		span {
			@extend .display-block;
			margin-top: -28px;
			margin-left: 33px;
		}
  }

	& + label > i {
		@extend .transitionProperty-all;
		@extend .transitionDuration-s;
		@extend .transitionTimingFn-linear;
		@extend .c-white;
		@extend .position-absolute;
		left: 5px;
		top: 3px;
		font-size: 10px;
    transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
		-webkit-transform: scale(0);
		
	}
  & + label:before {
		@extend .display-inline-block;
		@extend .bg-white;
		@extend .borderColor-primary;
		@extend .borderStyle-solid;
		@extend .borderWidth-2;
		@extend .borderRadius-circle;
		@extend .cursor-pointer;
		@extend .transitionProperty-all;
		@extend .transitionDuration-xm;
		@extend .transitionTimingFn-linear;
		@extend .verticleAlign-bottom;
    @extend .marginRight-1;

    content: "";
    width: 23px;
    height: 23px;
		&:hover { @extend .bg-grey-l; }
  }
	&.active + label > i {
    transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
		-webkit-transform: scale(1);
		@extend .c-primary;
	}
  &.active + label:before {
		@extend .borderColor-primary;
    // &:hover { @extend .bg-primary; }
  }
}

input[type='radio'] + label > i {
	font-size: 18px;
	top: 2px;
	left: 5px;
	@extend .c-primary;
}