.display {
	&-inline 					{ display: inline; }
	&-block 					{ display: block; }
	&-inline-block 				{ display: inline-block; }
	&-none 						{ display: none; }
	&-tableCell 				{ display: table-cell; }
	&-flex 						{ display: flex; }
}
