.posPinTR {
	top: 0;
	right: 0;
	position: absolute;
}
.posPinTL {
	top: 0;
	left: 0;
	position: absolute;
}
.posFixTL {
	top: 0;
	left: 0;
	position: fixed;
}
.posFixTR {
	top: 0;
	right: 0;
	position: fixed;
}
.position-fixed {
	position: fixed;
}
.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}
