.minWidth-0 { min-width: 0; }
.minWidth-150 { min-width: 150px; }
.width-30 { width: 30%; }
.width-50 { width: 50%; }
.width-100 { width: 100%; }
.maxWidth-100 { max-width: 100%; }
.maxWidth-150 { max-width: 150px; }
