<!-- dashboard -->
<div class="animated fadeIn " style="padding-top: 55px; padding-left: 150px;">
	<div class="padding-xm">
			<div class="row">
					<div class="col-xs-12">
							<div class="bg-white borderRadius-xs padding-xm">
									<div class="row marginBottom-s">
											<div class="col-xs-6">
													<div class="padding-s fontFamily-primary-bold fontSize-m display-inline-block">
															Users
													</div>
											</div>

											<div class="col-xs-6 textAlign-right">
												<div class="col-lg-12">
													<div class="col-lg-8" ng-show="vm.cancel">
													<div ng-if="vm.user.profile.level == 'admin'||vm.user.profile.level === 'editor'" ng-click="vm.cancel=false;vm.getAll();" class="button button-danger display-inline-block borderRadius-xxs" style="border-color: transparent!important; padding: 5px; width: 100px">
														Cancel
													</div>
												</div>
													<div ng-if="vm.user.profile.level == 'admin'||vm.user.profile.level === 'editor'" ng-click="vm.showAddUser = true" class="button button-primary display-inline-block borderRadius-xxs" style="border-color: transparent!important; padding: 5px; width: 170px">
														Add User
													</div></div>

											</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<table class="width-100">
												<thead class="fontWeight-7 textAlign-left">
													<th class="padding-s">Email</th>
													<th class="padding-s">Name</th>
													<th class="padding-s">Level</th>
													<th class="padding-s">Company</th>
													<th class="padding-s">Type</th>
													<th class="padding-s">Available</th>
													<th class="padding-s">Remaining</th>
													<th class="padding-s">Expire  at</th>
													<th class="padding-s">Actions</th>
												</thead>
												<tbody>

													<tr ng-repeat="user in vm.users" class="bg-foreground--hover">
														<td class="padding-s">
															<a href="mailto:{{user.profile.email}}">{{user.profile.email}}</a>
														</td>
														<td class="padding-s">
															<span ng-hide="user.edit">
																{{user.profile.name}}
															</span>
															<div ng-show="user.edit">
																<input type="text" ng-model="user.profile.name" ng-keydown="$event.keyCode === 13 && (user.edit = null && vm.users.$save(user))" class="display-inline-block">
															</div>
														</td>
														<td class="padding-s">
															<span ng-hide="user.edit">
																{{user.profile.level}}
															</span>
															<div ng-show="user.edit">
																<select ng-options="level for level in ['admin','editor','user'] track by level" ng-model="user.profile.level">
																</select>
																<!-- <input type="text" ng-model="user.profile.level" ng-keydown="$event.keyCode === 13 && (user.edit = null && vm.users.$save(user))" class="display-inline-block"> -->
															</div>
														</td>
														<td class="padding-s">
															<span ng-hide="user.edit">
																{{user.profile.company.name || '-'}}
															</span>
															<div ng-show="user.edit">
																<select ng-options="company as company.name for company in vm.companies track by company.name" ng-model="user.profile.company">
																</select>
															</div>
														</td>
														<td class="padding-s">
															<span ng-hide="user.edit">
																{{user.profile.Time || '-'}}
															</span>
															<div ng-show="user.edit">
																<select ng-options="level for level in ['ถาวร','5 ปี','1 ปี','15 วัน'] track by level" ng-model="user.profile.Time">

																</select>
															</div>
														</td>
														<td class="padding-s">
															<span ng-hide="user.edit">
																<div ng-if="user.profile.Available === 'ปกติ' " class="c-success fontStyle-bold">{{user.profile.Available}}</div>
															<div ng-if="user.profile.Available === 'ถูกระงับ' " class="c-danger fontStyle-bold"> {{user.profile.Available}}</div>
															</span>
															<div ng-show="user.edit">
																<select ng-options="level for level in ['ปกติ','ถูกระงับ'] track by level" ng-model="user.profile.Available">
																</select>
															</div>
														</td>
														<td class="padding-s">
															{{vm.available(user)}}
														</td>
														<td class="padding-s">
															{{user.profile.ExpireAt}}
														</td>
														<td class="padding-s">
															<div ng-show="user.edit">
																<div ng-click="vm.cancel = false;user.edit = ''; vm.usersedit(user);" style="padding: 3px 10px;" class="bg-foreground-dk cursor-pointer button-success display-inline-block">Save</div>
																/
																<span ng-click="vm.resetPassword(user.profile.email)" class="link link-grey textDecoration-underline">
																	Reset password
																</span>
															</div>
															<div ng-hide="user.edit">
																<span ng-click="vm.cancel = true;alert(user);user.edit = true;vm.oldbegin.Time = user.profile.Time;vm.oldbegin.Available = user.profile.Available" class="link link-grey textDecoration-underline">
																	Edit
																</span>
																<span ng-if="vm.user.profile.level == 'admin'">/</span>
																<span ng-if="vm.user.profile.level == 'admin'" ng-click="vm.deleteUser(user)" class="link link-danger textDecoration-underline">
																	Delete
																</span>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
							</div>
					</div>
			</div>
	</div>
</div>
<!-- end content -->


<!-- Add Company -->
<div ng-show="vm.showAddUser" class="animated fadeIn posFixTL" style="width: 100vw; height: 100vh; background-color: rgba(255,255,255,.9); padding-top: 55px; padding-left: 150px; padding-right: 280px;">
	<div class="padding-xm">
			<div class="bg-white padding-xm boxShadow-card borderRadius-xs borderWidth-1 borderColor-foreground borderStyle-solid centered" style="width: 400px; min-height: 100px;">
					<div class="fontFamily-primary-bold textTransform-uppercase position-relative fontSize-xs">
							New User <span class="floatRight" style="margin-top:-5px"><i ng-click="vm.showAddUser = false" class="icon ion-close-round c-grey fontSize-xm"></i>
					</div>
					<div class="row marginTop-xm">
							<div class="col-xs-4">
									<div class="fontFamily-primary-bold fontSize-s lh-2">Email</div>
							</div>
							<div class="col-xs-8">
									<input ng-model="vm.newUser.email" class="bg-foreground padding-xs borderWidth-0 width-100" type="email" placeholder="Email address">
							</div>
					</div>
					<div class="row marginTop-s">
						<div class="col-xs-4">
								<div class="fontFamily-primary-bold fontSize-s lh-2">Password</div>
						</div>
						<div class="col-xs-8">
								<input ng-model="vm.newUser.password" class="bg-foreground padding-xs borderWidth-0 width-100" type="password" placeholder="Password">
						</div>
					</div>
					<div class="row marginTop-s">
						<div class="col-xs-4">
								<div class="fontFamily-primary-bold fontSize-s lh-2">Full name</div>
						</div>
						<div class="col-xs-8">
								<input ng-model="vm.newUser.name" class="bg-foreground padding-xs borderWidth-0 width-100" type="text" placeholder="Full name">
						</div>
					</div>
				<div class="row marginTop-s">
					<div class="col-xs-4">
						<div class="fontFamily-primary-bold fontSize-s lh-2">Expire</div>
					</div>
					<div class="col-xs-8">
						<select ng-options="exp for exp in ['ถาวร','5 ปี','1 ปี','15 วัน'] track by exp" ng-model="vm.newUser.time">
							<option value="" selected disabled>-- Select type type --</option>
						</select>
					</div>
				</div>
					<div class="row marginTop-s">
						<div class="col-xs-4">
								<div class="fontFamily-primary-bold fontSize-s lh-2">Level</div>
						</div>
						<div class="col-xs-8">
							<select ng-options="level for level in ['admin','editor','user'] track by level" ng-model="vm.newUser.level">
								<option value="" selected disabled>-- Select level type --</option>
							</select>
						</div>
					</div>
					<div class="row marginTop-s">
						<div class="col-xs-4">
								<div class="fontFamily-primary-bold fontSize-s lh-2">Company</div>
						</div>
						<div class="col-xs-8">
							<select ng-options="company as company.name for company in vm.companies track by company.name" ng-model="vm.newUser.company">
								<option value="" selected disabled>-- Select company type --</option>
							</select>
							<br/>
							<input type="text" ng-if="vm.newUser.company.name === 'Add company'" class="bg-foreground padding-xs borderWidth-0 width-100" type="text" placeholder="New name company" ng-model="vm.newCompany.name" />
						    {{vm.newCompany.name}}
						</div>
					</div>
					<div class="row marginTop-xm">
							<div class="col-xs-8 col-xs-offset-4">
									<div ng-click="vm.addUser(vm.newUser)" class="button button-primary c-white button-m display-inline-block" style="border-color: transparent!important; padding: 5px;">
											Add
									</div>
							</div>
					</div>
			</div>
	</div>
</div>
<!-- end add company -->